PORT=3000
DB_HOST=db
DB_PORT=5432
DB_NAME=sso_idp
DB_USER=sso_user
DB_PASSWORD=your_password_here

OIDC_JWKS=your_jwks_json_here
COOKIES_KEY=your_cookie_key_here
ADMIN_SESSION_SECRET=your_session_secret_here

POSTGRES_DB=sso_idp
POSTGRES_USER=sso_user
POSTGRES_PASSWORD=your_password_here