# Server Configuration
PORT=8080
GIN_MODE=debug # debug or release
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001


# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=saims_db
DB_PORT=5432
DB_SSLMODE=disable

# JWT Secret
JWT_SECRET=super_secret_key

# Fonnte WhatsApp API
FONNTE_TOKEN=your_fonnte_token_here

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minio_access_key_here
MINIO_SECRET_KEY=minio_secret_key_here
MINIO_USE_SSL=false
MINIO_BUCKET=inventory-assets
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
